<h1>hello world</h1>
<button (click)="onSelect()"></button>
{{ "ABC" | uppercase | morsecode: 'abc' }}

<textarea rows="5" cols="60" name="description" [(ngModel)]="title">
</textarea>
<p>Morse code:</p>
{{ title | uppercase | morsecode: 'morse' }}
<p>MD5 code:</p>
{{ title | uppercase | morsecode: 'md5' }}
<router-outlet></router-outlet>
